#header {
  padding: 10px 25px 0 25px;
  display: flex;
  justify-content: space-between;
}

#header > #page-title {
  font-weight: bold;
  line-height: 20px;
}

#header > #date-picker {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

#header > #date-picker > #current-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

#header > #date-picker > #current-date > #effective-date {
  color: gray;
  line-height: 0.7em;
}

#header > #date-picker > .date-nav {
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  color: green;
}

#header > #date-picker > .date-nav:hover {
  border: 1px solid green;
  border-radius: 1px;
}

.clear {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
