<div id="header">
  <h1><span id="page-title">Market overview</span></h1>
  <span id="date-picker">
      <button class="clear date-nav" (click)="setPreviousDay()"> <fa-icon [icon]="leftPointerIcon"></fa-icon> </button>
      <span id="current-date">
        <div>Day {{displayDay}}</div>
        <div id="effective-date">{{effectiveDate | date:'fullDate'}}</div>
      </span>
      <button class="clear date-nav" (click)="setNextDay()"> <fa-icon [icon]="rightPointerIcon"></fa-icon> </button>
    </span>
</div>
