<div id="content" role="main">
  <header
    [simulationStartDate]="simulationStartDate"
    (dateChangeEvent)="setDate($event)">
  </header>

  <div id="stock-cards">
    <stock-card
      *ngFor="let stock of stocks"
      [stock]="stock"
      [effectiveDate]="effectiveDate">
    </stock-card>
  </div>

  <div id="tool-buttons">
    <button (click)="resetSimulation()">Restart Simulation</button>
  </div>
</div>
