<div id="container">
  <div id="title">
    <span>{{stock.name}}</span>
    <span id="symbol">({{stock.symbol}})</span>
  </div>
  <div id="chart">
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [results]="chartData"
      [autoScale]="true">
    </ngx-charts-line-chart>
  </div>
  <div id="value">
    <div id="absolute-value">{{price | currency: 'USD'}}</div>

    <span id="value-change" [ngClass]="{'green': percentageChange > 0, 'red': percentageChange < 0}">
      <span id="absolute-change">
        {{absoluteChange | currency: 'USD'}}
      </span>
      <span id="percentage-change">
        (<span *ngIf="percentageChange > 0">+</span>{{percentageChange | percent: '1.0-2'}}
        <fa-icon [icon]="changeIndicatorIcon"></fa-icon>)
      </span>
    </span>
  </div>
</div>
