#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  height: 160px;
  width: 160px;
  border-radius: 3px;
  box-shadow: 2px 1px 12px 0 rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 2px 1px 12px 0 rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 2px 1px 12px 0 rgba(0, 0, 0, 0.29);
  margin: 10px;
}

#title > #symbol {
  font-size: 0.7em;
  font-weight: 100;
  margin-left: 5px;
}

#chart {
  height: 40px;
}

#value-change {
  font-size: 0.8em;
}

.green {
  color: green;
}

.red {
  color: #ca3023
}
